In [1]:
#Dev Babbar 20BAI10119
import pandas as pd
import numpy as np

In [2]:
# Task 1: Create a pandas dataframe with random values
np.random.seed(42)  # Setting a seed for reproducibility
data = np.random.randn(4, 4)  # Generate random values
df = pd.DataFrame(data)
print("Task 1 - DataFrame 'df':")
print(df)

Task 1 - DataFrame 'df':
          0         1         2         3
0  0.496714 -0.138264  0.647689  1.523030
1 -0.234153 -0.234137  1.579213  0.767435
2 -0.469474  0.542560 -0.463418 -0.465730
3  0.241962 -1.913280 -1.724918 -0.562288

In [3]:
# Task 2: Rename the column names
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print("Task 2 - Renamed column names:")
print(df.columns)

Task 2 - Renamed column names:
Index(['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'], dtype='object')

In [4]:
# Task 3: Descriptive statistics
statistics = df.describe()
print("Task 3 - Descriptive statistics:")
print(statistics)

Task 3 - Descriptive statistics:
       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.008762       -0.435780        0.009641        0.315612
std          0.439772        1.043924        1.426317        1.007175
min         -0.469474       -1.913280       -1.724918       -0.562288
25%         -0.292984       -0.653923       -0.778793       -0.489869
50%          0.003904       -0.186201        0.092135        0.150852
75%          0.305650        0.031942        0.880570        0.956334
max          0.496714        0.542560        1.579213        1.523030

In [5]:
# Task 4: Check for null values and data types
null_values = df.isnull().sum()
data_types = df.dtypes
print("Task 4 - Null values:")
print(null_values)
print("Task 4 - Data types:")
print(data_types)

Task 4 - Null values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64
Task 4 - Data types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [6]:
# Task 5: Display columns using location methods
random_value_2_loc = df.iloc[:, 1]  # Using integer-based location
random_value_3_loc = df.iloc[:, 2]
random_value_2_idx = df['Random value 2']  # Using column name-based indexing
random_value_3_idx = df['Random value 3']
print("Task 5 - 'Random value 2' column using location methods:")
print(random_value_2_loc)
print("Task 5 - 'Random value 3' column using location methods:")
print(random_value_3_loc)
print("Task 5 - 'Random value 2' column using index location methods:")
print(random_value_2_idx)
print("Task 5 - 'Random value 3' column using index location methods:")
print(random_value_3_idx)

Task 5 - 'Random value 2' column using location methods:
0   -0.138264
1   -0.234137
2    0.542560
3   -1.913280
Name: Random value 2, dtype: float64
Task 5 - 'Random value 3' column using location methods:
0    0.647689
1    1.579213
2   -0.463418
3   -1.724918
Name: Random value 3, dtype: float64
Task 5 - 'Random value 2' column using index location methods:
0   -0.138264
1   -0.234137
2    0.542560
3   -1.913280
Name: Random value 2, dtype: float64
Task 5 - 'Random value 3' column using index location methods:
0    0.647689
1    1.579213
2   -0.463418
3   -1.724918
Name: Random value 3, dtype: float64